In [1]:
import sqlite3
db = "database.sqlite"
connect = sqlite3.connect(db)
print("Data opened successfully.")

Data opened successfully.

In [4]:
import pandas as pd
data = pd.read_sql("""SELECT * FROM sqlite_master""", connect)
data

,type,name,tbl_name,rootpage,sql
0,table,Player,Player,2,CREATE TABLE [Player] (\n\t[Player_Id]\tintege...
1,table,Extra_Runs,Extra_Runs,3,CREATE TABLE [Extra_Runs] (\n\t[Match_Id]\tint...
2,index,sqlite_autoindex_Extra_Runs_1,Extra_Runs,4,None
3,table,Batsman_Scored,Batsman_Scored,7,CREATE TABLE [Batsman_Scored] (\n\t[Match_Id]\...
4,index,sqlite_autoindex_Batsman_Scored_1,Batsman_Scored,8,None
5,table,Batting_Style,Batting_Style,10,CREATE TABLE [Batting_Style] (\n\t[Batting_Id]...
6,table,Bowling_Style,Bowling_Style,11,CREATE TABLE [Bowling_Style] (\n\t[Bowling_Id]...
7,table,Country,Country,12,CREATE TABLE [Country] (\n\t[Country_Id]\tinte...
8,table,Season,Season,14,CREATE TABLE [Season] (\n\t[Season_Id]\tintege...
9,table,City,City,15,CREATE TABLE [City] (\n\t[City_Id]\tinteger NO...
10,table,Outcome,Outcome,16,CREATE TABLE [Outcome] (\n\t[Outcome_Id]\tinte...
11,table,Win_By,Win_By,17,CREATE TABLE [Win_By] (\n\t[Win_Id]\tinteger N...
12,table,Wicket_Taken,Wicket_Taken,18,CREATE TABLE [Wicket_Taken] (\n\t[Match_Id]\ti...
13,index,sqlite_autoindex_Wicket_Taken_1,Wicket_Taken,19,None
14,table,Venue,Venue,21,CREATE TABLE [Venue] (\n\t[Venue_Id]\tinteger ...
15,table,Extra_Type,Extra_Type,23,CREATE TABLE [Extra_Type] (\n\t[Extra_Id]\tint...
16,table,Out_Type,Out_Type,24,CREATE TABLE [Out_Type] (\n\t[Out_Id]\tinteger...
17,table,Toss_Decision,Toss_Decision,25,CREATE TABLE [Toss_Decision] (\n\t[Toss_Id]\ti...
18,table,Umpire,Umpire,26,CREATE TABLE [Umpire] (\n\t[Umpire_Id]\tintege...
19,table,Team,Team,27,CREATE TABLE [Team] (\n\t[Team_Id]\tinteger NO...
20,table,Ball_by_Ball,Ball_by_Ball,28,CREATE TABLE [Ball_by_Ball] (\n\t[Match_Id]\ti...
21,index,sqlite_autoindex_Ball_by_Ball_1,Ball_by_Ball,29,None
22,table,sysdiagrams,sysdiagrams,31,CREATE TABLE [sysdiagrams] (\n\t[name]\tnvarch...
23,table,sqlite_sequence,sqlite_sequence,32,"CREATE TABLE sqlite_sequence(name,seq)"
24,index,sysdiagrams_UK_principal_name,sysdiagrams,33,CREATE UNIQUE INDEX [sysdiagrams_UK_principal_...
25,table,Match,Match,34,CREATE TABLE [Match] (\n\t[Match_Id]\tinteger ...
26,table,Rolee,Rolee,36,CREATE TABLE [Rolee] (\n\t[Role_Id]\tinteger N...
27,table,Player_Match,Player_Match,37,CREATE TABLE [Player_Match] (\n\t[Match_Id]\ti...
28,index,sqlite_autoindex_Player_Match_1,Player_Match,38,None